version: '3.8'

services:
  api-atlas:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-atlas
    network_mode: host
    environment:
      - ORS_BASE_URL=http://192.168.50.6:8082/ors
      - VROOM_BASE_URL=http://192.168.50.6:3000
      - OPENAI_API_KEY=sua-key-aqui
      - OPENAI_MODEL=gpt-4o-mini
      - PORT=9031
      - NODE_ENV=production
      - RATE_LIMIT_WINDOW_MS=900000
      - RATE_LIMIT_MAX_REQUESTS=100
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS:-https://roteirizacao.ciafaeldistribuidora.com.br,http://192.168.1.24:9443,http://192.168.1.24:9031,http://192.168.1.24:9032,http://localhost:3000,http://localhost:9031,*}
    restart: unless-stopped
